body{
    background-color: rgb(253, 5, 179);
}

header{
    background-color: rgb(243, 9, 231);
}

#cavalo {
    width:400px;
}

.paragrafo{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}